<!DOCTYPE html>
<html>
<head>
	<title>TrackIt!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<header>
		<h1><center>TrackIt!</center></h1>
	</header>
	<nav>
		<a href="index.html">Home</a>
    <a href="About.html">About</a>
		<a href="LeagueOfLegends.html">League of Legends</a>
    <a href="Apex.html">Apex Legends</a>
    <a href="Steam.html">Steam</a>
    <a href="Mojang.html">Mojang</a>
    <a href="Roblox.html">ROBLOX</a>
	<a href="Valorant.html">Valorant</a>

	</nav>
	<main>
		<section>
			<h2><center>What Is This Application?</center></h2>
			<p><center>Have you ever been worried about how much time you are spending on these damn video games??? Well now you can use our amazing website called “TrackIt!”. Our tracker gathers the information from your computer to determine how long you are spending playing a given video game for a given time. The information gathered would then be displayed in graphical and numerical ways for any time interval you want. Wanting to quit playing so much or brag to your friends then “TrackIt!” is perfect for you!</center></p>
		</section>
    <section>
    <h2><center>Start Tracking Your Stats Now!</center></h2>
      <p><center>We have all the data readily available to you, just type in your username for the desired game and out comes your statistics!</center></p>
		</section>
  </main>
