<!DOCTYPE html>
<html>
<head>
	<title>TrackIt!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		.region-list {
			float: left;
			margin-right: 20px;
		}
	</style>
</head>
<body>
	<header>
		<h1><center>TrackIt!</center></h1>
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="About.html">About</a></li>
			<li><a href="UserGuide.html">User Guide</a></li>
			<li><a href="LeagueOfLegends.html">League of Legends</a></li>
			<li><a href="Apex.html">Apex Legends</a></li>
			<li><a href="Steam.html">Steam</a></li>
			<li><a href="Mojang.html">Mojang</a></li>
			<li><a href="Roblox.html">ROBLOX</a></li>
			<li><a href="Valorant.html">Valorant</a></li>
			<li><a href="Overwatch.html">Overwatch</a></li>
		</ul>
	  </nav>
 <main>
		<section>
			<h2><center>Welcome to the League of Legends Tracker!</center></h2>
				<form method="POST" action="{{ url_for('LeagueOfLegends.getLeagueOfLegendsID') }}">		
					<p><center><label for="user-input">Enter your Summoner Name</label>		
					<input type="text" id="user-id" name="user-id"></center></p>
					<p><center><label for="user-input">Enter your Region</label>		
					<input type="text" id="region" name="region"></center></p>
					<div style="text-align:center;">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
<center><img src="{{ url_for('static', filename='images/lol.jpg') }}" width="500" height="300"></center>
</section>
<aside class="region-list">
<p>Brazil: BR1</p>
	<p>Europe Nordic & East: EUN1</p>
	<p>Europe West: EUW1</p>
	<p>Latin America North: LA1</p>
	<p>Latin America South: LA2</p>
	<p>North America: NA1</p>
	<p>Oceania: OCE/OC1</p>
	<p>Russia: RU1</p>
	<p>Turkey: TR1</p>
	<p>Japan: JP1</p>
	<p>Korea: KR</p>
	<p>The Philippines: PH2</p>
	<p>Singapore, Malaysia, & Indonesia: SG2</p>
	<p>Taiwan, Hong Kong, and Macao: TW2</p>
	<p>Thailand: TH2</p>
	<p>Vietnam: VN2</p>
	<p>Public Beta Environment: PBE</p>
	</aside>
				</form>		
 </main>
