<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <center>
  <h1>{{ heading }}</h1>
  {% for legend, stats in legend_stats.items() %}
  <p><b>{{ legend }}</b></p>
  <p>Kills: {{ stats["kills"] }}</p>
  <p>Winning Kills: {{ stats["winning_kills"] }}</p>
  <p>Matches Played: {{ stats["matches_played"] }}</p>
  {% endfor %}
  <h2>Overall Stats:</h2>
  <p>Total Kills: {{ overall_stats["total_kills"] }}</p>
  <p>Total Matches Played: {{ overall_stats["total_matches_played"] }}</p>
  <p>Approximate Playtime Minutes: {{ overall_stats["approximate_playtime_minutes"] }}</p>
  </center>
</body>
</html>
